.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
  text-decoration: none;
}
.image-link {
  text-decoration: none;
}
.moby-header {
  text-align: center;
  margin: 0 0 80px;
}
.whale-pic {
  display: block;
  margin: 0 auto;
}
.moby-pic {
  float: left;
  margin-right: 40px;
}
.ishmael {
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #f00;
}
.bookreport {
  font-style: italic;
  font-size: 20px;
}
.moby-main {
  width: 500px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fafafa;
}
